In [2]:
import pandas as pd
from collections import Counter
import numpy as np
import pickle

In [ ]:
#Lode data

In [3]:
blind_test = pd.read_excel(r'C:\Master\IS\blind_test.xlsx')
blind_test.head()

,Unnamed: 0,Class,Detail,Department,Aspect
0,6544,1,จอดรถไกล,ENV,5
1,1885,1,อยากให้ลิฟต์สำหรับผู้ป่วยแยก เวลาขึ้นลงลำบาก ท...,ENV,7
2,4301,0,เจ้าหน้าที่ยิ้มแย้มดีค่ะ,EX5WEL,0
3,5073,1,อยากให้จัดสรรที่จอดรถ ไม่เพียงพอ มีน้อยมาก,ENV,5
4,5720,0,บริการดี,OPD12ENT,1

In [4]:
test_set = pd.read_excel(r'C:\Master\IS\train_set.xlsx')
test_set.head()

,Unnamed: 0,Class,Detail,Department,Aspect
0,0,1,ประชาสัมพันธ์ ไม่ควรนำอาหารมากินระหว่างการรับห...,MPR,0
1,1,1,แอร์ในห้องพักเย็นมาก ไม่เหมาะสมกับห้อง รู้สึกท...,ENV,7
2,2,0,ขอขอบพระคุณ นพ.ภูวพงศ์แพทย์เจ้าของไข้ พร้อมด้ว...,MED,3
3,3,1,การบริการฝากครรภ์หน้าจะมีการแก้ไขให้ดีกว่านี้,LR,1
4,4,0,คุณหมอเก่งเอาใจใส่ดีมาก,MED,3

In [5]:
col_detail = test_set['Detail'].tolist()

In [12]:
#Clean-data
import pythainlp
from pythainlp import word_tokenize
from pythainlp.corpus import thai_stopwords
from pythainlp.corpus import wordnet
from nltk.stem.porter import PorterStemmer
from nltk.corpus import words
from stop_words import get_stop_words

In [13]:
import re
import string
import nltk
nltk.download("stopwords")
th_stop = thai_stopwords()
en_stop = tuple(get_stop_words('en'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Acer\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [14]:
def clean_msg(msg):
    
    
    # ลบ text ที่อยู่ในวงเล็บ <> ทั้งหมด
    msg = re.sub(r'<.*?>','', msg)
    
    # ลบ hashtag
    msg = re.sub(r'#','',msg)
    
    # ลบ เครื่องหมายคำพูด (punctuation)
    for c in string.punctuation:
        msg = re.sub(r'\{}'.format(c),'',msg)
    
    # ลบ separator เช่น \n \t
    msg = ' '.join(msg.split())
    
    return msg

In [15]:
def split_word(text):
            
    
    tokens = word_tokenize(text,engine='newmm')
    
    # Remove stop words ภาษาไทย และภาษาอังกฤษ
    tokens = [i for i in tokens if not i in th_stop and not i in en_stop]
    
    
    # ลบตัวเลข
    tokens = [i for i in tokens if not i.isnumeric()]
    
    # ลบช่องว่าง
    tokens = [i for i in tokens if not ' ' in i]

    return tokens

In [16]:
clean_text = [clean_msg(txt) for txt in col_detail]
tokens_list = [split_word(txt) for txt in clean_text]

In [17]:
#TF-IDF
from sklearn.feature_extraction.text import TfidfVectorizer
from pythainlp.corpus import thai_stopwords
stop_words= thai_stopwords()

In [18]:
def identity_fun(text):
    return text

In [19]:
tfidf_vectorizer = TfidfVectorizer(analyzer = 'word', #this is default
                                   tokenizer=identity_fun, #does no extra tokenizing
                                   preprocessor=identity_fun, #no extra preprocessor
                                   token_pattern=None)

In [21]:
tfidf_vector= tfidf_vectorizer.fit_transform(tokens_list)
tfidf_array = np.array(tfidf_vector.todense())

#แปลงเป็น DataFrame เพื่อง่ายแก่การอ่าน
df = pd.DataFrame(tfidf_array,columns=tfidf_vectorizer.get_feature_names_out())
df

,A,AIA,ASAP,ATM,Abdomen,Access,Admit,AdultPed,Aetna,Affordable,...,ๆๆๆๆๆๆส์,ๆ​,ๆ”,์,์คง,์ฯ,​,’,“,”
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5884,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
#ML Model
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC

In [23]:
answer  = test_set['Class']
len(answer)

5885

In [24]:
X = df
y = answer

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [25]:
X.shape,y.shape

((5885, 5057), (5885,))

In [26]:
X_train.shape, y_train.shape

((4119, 5057), (4119,))

In [27]:
X_test.shape, y_test.shape

((1766, 5057), (1766,))

In [30]:
#Create a svm Classifier
clf = SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(X_train, y_train)

#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [31]:
print(classification_report(y_test, y_pred, digits = 6))

              precision    recall  f1-score   support

           0   0.968379  0.959843  0.964092      1021
           1   0.945623  0.957047  0.951301       745

    accuracy                       0.958664      1766
   macro avg   0.957001  0.958445  0.957697      1766
weighted avg   0.958780  0.958664  0.958696      1766

In [32]:
confusion_matrix(y_test, y_pred)

array([[980,  41],
       [ 32, 713]], dtype=int64)

In [33]:
from joblib import dump

In [35]:
pickle.dump(clf, open('svm.sav','wb'))